# Zenodo - preprocessing

# Preprocessing

In [ ]:
import pandas as pd

import numpy as np
import pathlib
import datetime
from tasrif.data_readers.zenodo_fitbit_dataset import (
    ZenodoFitbitActivityDataset, 
    ZenodoFitbitWeightDataset, 
    ZenodoFitbitSleepDataset, 
    ZenodoCompositeFitbitDataset)

nan = np.nan
zenodo_folder = '~/Documents/Data/Zenodo'

zfd = ZenodoFitbitActivityDataset(zenodo_folder=zenodo_folder)
df = zfd.processed_dataframe()
adf = zfd.grouped_dataframe()
pdfs = zfd.participant_dataframes()

zwd = ZenodoFitbitWeightDataset(zenodo_folder=zenodo_folder)
zwd.raw_dataframe()
df2 = zwd.processed_dataframe()
wdf = zwd.grouped_dataframe()

zsd = ZenodoFitbitSleepDataset(zenodo_folder=zenodo_folder)
df3 = zsd.processed_dataframe()
sdf = zsd.grouped_dataframe()
[pd.DataFrame(y) for x, y in df.groupby('logId', as_index=False)]

In [3]:
df2

            Id                  Date    WeightKg        BMI          LogId
0   1503960366  4/5/2016 11:59:59 PM   53.299999  22.969999  1459900799000
1   1927972279  4/10/2016 6:33:26 PM  129.600006  46.169998  1460313206000
2   2347167796  4/3/2016 11:59:59 PM   63.400002  24.770000  1459727999000
3   2873212765  4/6/2016 11:59:59 PM   56.700001  21.450001  1459987199000
4   2873212765  4/7/2016 11:59:59 PM   57.200001  21.650000  1460073599000
..         ...                   ...         ...        ...            ...
62  8877689391   5/6/2016 6:43:35 AM   85.000000  25.440001  1462517015000
63  8877689391   5/8/2016 7:35:53 AM   85.400002  25.559999  1462692953000
64  8877689391   5/9/2016 6:39:44 AM   85.500000  25.610001  1462775984000
65  8877689391  5/11/2016 6:51:47 AM   85.400002  25.559999  1462949507000
66  8877689391  5/12/2016 6:42:53 AM   84.000000  25.139999  1463035373000

[100 rows x 5 columns]

In [5]:
zsd = ZenodoFitbitSleepDataset(zenodo_folder=zenodo_folder)
df = zsd.processed_dataframe()
sdf = zsd.grouped_dataframe()
#[pd.DataFrame(y) for x, y in df.groupby('logId', as_index=False)]

In [10]:
df

,logId,Id,duration_sum,date_first,value_mean,total_sleep_seconds
0,11103653021,6962181067,0 days 07:08:00,2016-03-11 23:29:00,1.034884,25680.0
1,11103710844,6117666160,0 days 05:56:00,2016-03-11 22:42:30,1.016760,21360.0
2,11103729104,2026352035,0 days 09:02:00,2016-03-11 21:31:30,1.068015,32520.0
3,11103744323,2347167796,0 days 07:13:00,2016-03-11 23:43:00,1.066514,25980.0
4,11104043433,4445114986,0 days 03:29:00,2016-03-12 02:43:30,1.042857,12540.0
...,...,...,...,...,...,...
1002,11613774989,5553957443,0 days 07:54:00,2016-05-11 21:49:30,1.084211,28440.0
1003,11614342249,6962181067,0 days 08:53:00,2016-05-11 23:06:00,1.039252,31980.0
1004,11615068469,4702921684,0 days 07:20:00,2016-05-11 22:42:00,1.090498,26400.0
1005,11615720066,7086361926,0 days 07:35:00,2016-05-11 23:09:30,1.028446,27300.0
1006,11616251768,4445114986,0 days 08:19:00,2016-05-12 01:36:00,1.045908,29940.0

In [11]:
sdf

,Id,logId_count,total_sleep_seconds_mean,total_sleep_seconds_std,value_mean_mean,value_mean_std
0,1503960366,55,20836.363636,7353.153106,1.079530,0.039480
1,1644430081,6,32940.000000,26909.421398,1.211492,0.151155
2,1844505072,5,57540.000000,0.000000,1.385848,0.213740
3,1927972279,47,-18660.000000,241230.459790,1.051292,0.022400
4,2022484408,1,8580.000000,NaN,1.062500,NaN
5,2026352035,59,8447.796610,184113.833641,1.071032,0.023264
6,2320127002,1,4080.000000,NaN,1.173913,NaN
7,2347167796,43,28974.418605,4407.541860,1.106407,0.046182
8,3977333714,48,24305.000000,7591.553537,1.373599,0.105188
9,4020332650,28,18737.142857,7453.318852,1.069448,0.042973
10,4319703577,54,28162.222222,8074.204597,1.060758,0.023099
11,4388161847,30,19366.000000,10444.882132,1.061149,0.031143
12,4445114986,80,-15643.125000,278866.259813,1.084988,0.040320
13,4558609924,8,10057.500000,5209.984234,1.076155,0.062033
14,4702921684,61,24448.524590,7234.165659,1.056826,0.051220
15,5553957443,77,-10545.974026,295091.681169,1.098055,0.037887
16,5577150313,71,21734.366197,9021.656600,1.065656,0.032123
17,6117666160,66,19983.636364,12420.518958,1.067553,0.042777
18,6775888955,20,19095.000000,10071.629513,1.082589,0.040700
19,6962181067,69,21298.695652,32362.796629,1.049364,0.035731
20,7007744171,10,4158.000000,514.626078,1.067347,0.061688
21,7086361926,48,-8397.500000,239181.382810,1.038603,0.021955
22,8053475328,4,20955.000000,11953.146029,1.022393,0.009692
23,8378563200,83,-5305.301205,243984.744907,1.098514,0.058524
24,8792009665,33,22356.363636,7391.910197,1.057543,0.023863

In [8]:
cds = ZenodoCompositeFitbitDataset([zfd, zwd, zsd])
df = cds.grouped_dataframe()

AttributeError: 'ZenodoFitbitSleepDataset' object has no attribute 'group_df'